@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

#root {
    font-family: 'Rubik', 'sans-serif';
}

.nav-items.active div {
    background-color:#e2f1e7ff;
}

.nav-items.active div i {
    color: #243642ff;
}

.nav-items.active div p {
    color: #243642ff;
}

.nav-items div:hover {
    border-left-width: 0.5vw;
    border-color: #e2f1e7ff;
}

.act-circ {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20;
    color: #243642ff;
}

.staff-overlay {
    background: rgba(49, 49, 49, 0.7);
}

.staff-history-navitems.active button {
    background: #243642ff;
    color: #e2f1e7ff
}