@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#root {
    font-family: 'Rubik', 'sans-serif';
}

.nav-items.active div {
    background-color:#e2f1e7ff;
}

.nav-items.active div i {
    color: #243642ff;
}

.nav-items.active div p {
    color: #243642ff;
}

.nav-items div:hover {
    border-left-width: 0.5vw;
    border-color: #e2f1e7ff;
}