@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Mireille-Bold';
    src: url(./fonts/Demo-Mireille/Fontspring-DEMO-mireille-black.otf);
  }
  @font-face {
    font-family: 'Mireille-Regular';
    src: url(./fonts/Demo-Mireille/Fontspring-DEMO-mireille-regular.otf);
  }
  @font-face {
    font-family: 'Mireille-Thin';
    src: url(./fonts/Demo-Mireille/Fontspring-DEMO-mireille-thin.otf);
  }
  @font-face {
    font-family: 'Mireille-Monoline';
    src: url(./fonts/Demo-Mireille/Fontspring-DEMO-mireille-monoline.otf);
  }
  @font-face {
    font-family: 'Mireille-Light';
    src: url(./fonts/Demo-Mireille/Fontspring-DEMO-mireille-light.otf);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
